*.swp

aclocal.m4
compile
install-sh
missing
autom4te.cache
depcomp

Makefile
Makefile.in

configure
config.log
config.status
config.guess
config.sub

libtool
ltmain.sh

.deps
.dirstamp
.libs

bin
bin/*
lib
lib/*.la
m4
src/*.o
src/*.lo
